body{
    background-color: #180035;
    color: white;
}

.logo-start{
    position: absolute;
    margin-top: 37.5vh;
}

.begin-lijn{
    position: relative;
    margin-top: 103.5vh;
    margin-left: 4.5vh;
}

.my-custom-image-class {
    max-width: 200vh; /* Set the maximum width of the image */
    width: 140%; /* Make the image responsive */
    height: 150%; /* Make the image responsive */
    display: block; /* Remove any default inline styles */
    margin-left: 8%; /* Center the image horizontally */
  }
  
/* Portretten */
/* Telefoonformaat 150px, websiteformaat 200px */

#image1 
{
    background: transparent;
    border: 3px solid white;
    border-radius: 4px;
    display: block;
    margin: 0.5em auto;
    margin-right: 1px;
    margin-left: 135px;
    width: 200px;
    float: left;
}

#image2
{
    background: transparent;
    border: 3px solid white;
    border-radius: 4px;
    display: block;
    margin: 0.5em auto;
    margin-right: 1px;
    margin-left: 0;
    width: 200px;
    float: left;
}
#image3
{
    background: transparent;
    border: 3px solid white;
    border-radius: 4px;
    display: block;
    margin: 0.5em auto;
    margin-right: 1px;
    margin-left: 0;
    width: 200px;
    float: left;
}
#image4
{
    background: transparent;
    border: 3px solid white;
    border-radius: 4px;
    display: block;
    margin: 0.5em auto;
    margin-right: 1px;
    margin-left: 0;
    width: 200px;
    float: left;
}
#image5
{
    background: transparent;
    border: 3px solid white;
    border-radius: 4px;
    display: block;
    margin: 0.5em auto;
    margin-right: 1px;
    margin-left: 0;
    width: 200px;
    float: left;
}
#image6
{
    background: transparent;
    border: 3px solid white;
    border-radius: 4px;
    display: block;
    margin: 0.5em auto;
    margin-right: 1px;
    margin-left: 0;
    width: 200px;
    float: left;
}
